--- 
title: FINOS FDC3 App Directory 
description: "List of apps" 
layout: default
---
<main>
  {% for record in site.apps %} {% assign app = record.data %}
  <article class="implementation">
    <header class="implementation-metadata">
      <div class="title-and-publisher">
        <div class="title">
          <a href="https://www.connectifi.co">{{ app.title }}</a>
        </div>
        <div class="publisher">{{ app.publisher }}</div>
      </div>
      {% if app.icons[0] %}
      <div class="type icons">
        {% for icon in app.icons %} <img class="icon" src="{{ icon.src }}" title="{{ icon.label }}" /> {% endfor %}
      </div>
      {% endif %}
    </header>
    <section class="implementation-details">
      <div class="description">
        <div class="infoLinks">
          <a href="{{ app.supportEmail }}" class="button">Support</a> 
          <a href="{{ app.contactEmail }}" class="button">Contact </a>
          {% for d in app.details %} 
            <a href="{{ d.url }}" class="button">Details</a>
          {% endfor %}
          <a href="{{ site.baseurl }}/v2/apps/{{ app.appId }}" class="button">AppD Record </a>
        </div>
        <div class="prose">{{ app.description }}</div>
      </div>  
      <div class="screenshots">
          {% for ss in app.screenshots %} 
          <img src="{{ss.src }} " title="{{ss.label }}" id="screenshot-{{ forloop.index }}"
            class="screenshot {% if forloop.first %}visible{% endif %}" />
          {% endfor %}
      </div>
      <div class="description">
        <div class="badges">
          {% for c in app.categories %} <a href="#" class="button badge">{{ c }} </a> {% endfor %}
        </div>
      </div>
      
    </section>
    <footer class="implementation-metadata">
      <small class="version">Version: {{ app.version }}</small> <a href="apps/{{ app.id }}">View Appd Record</a> <a href="{{ app.moreInfo }}">More
        Info</a>
    </footer>
  </article>
  {% endfor %}
</main>